.form__link {
  font-family: var(--lato-regular);
  color: #7A7A7A;
  font-size: rem(14);
  line-height: lh(17,14);

  span {
    border-bottom: 1px solid rgba(122, 122, 122, 0.6);

    &:hover {
      border-bottom-color: transparent;
    }
  }
}