.field__select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}


.field__input.field__input_select {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: rgba(0, 0, 0, .42) transparent transparent transparent;
  }
}
