<h1>Users</h1>

<div class="global-form" *ngIf="authService.isLoggedIn() && toggleFormState">
  <form class="global-form__data" [formGroup]="usersForm">
    <h2>User Form</h2>
    <rc-form-input formControlName="name" label="User Name"></rc-form-input>
    <rc-form-input formControlName="email" label="User Email"></rc-form-input>
    <rc-form-input formControlName="password" label="User Password"></rc-form-input>
    <div class="global-form__actions">
      <div class="global-form__box">
        <button *ngIf="!editMode" (click)="addUser()">Add User</button>
      </div>
      <div class="global-form__box">
        <button *ngIf="editMode" (click)="updateUser()">Update User</button>
      </div>
      <div class="global-form__box">
        <button (click)="toggleForm();cancelForm()" class="button-link button-link__gray">Cancel</button>
      </div>
    </div>
  </form>
</div>
<button class="global-form__button" (click)="toggleForm()"><i class="material-icons">add</i></button>

<ul class="users">
  <li class="users__item" *ngFor="let user of users; let index = index">
    <span class="users__box">
      <span class="users__name">{{ user.name }}</span>
      <span class="users__email">{{ user.email }}</span>
      <span class="users__actions" *ngIf="authService.isLoggedIn()">
        <button class="button-link" type="button" (click)="editUser(user.id, index)"><i class="material-icons">edit</i></button>
        <button class="button-link button-link__red" type="button" (click)="destroyUser(user.id, index)"><i class="material-icons">delete</i></button>
      </span>
    </span>
  </li>
</ul>