

<tabset>
  <tab *ngFor="let checklist of checklists; let index = index" [title]="checklist.title">
    <i class="material-icons" (click)="editChecklist(checklist.id, index)">edit</i>
    <i class="material-icons" (click)="destroyChecklist(checklist.id, index)">delete</i>
    <div class="checklists">
      <label class="checklists__item"
             *ngFor="let item of checklist.checklist_items">
        <input type="checkbox" class="checklists__input">
        <span class="checklists__text">
          <span class="checkbox__ico">
            <i class="material-icons">checked</i>
          </span>
          <span [innerHTML]="item.title"></span>
        </span>
      </label>
    </div>
  </tab>
</tabset>


<div class="global-form" *ngIf="authService.isLoggedIn() && toggleFormState">
  <form class="global-form__data" [formGroup]="checklistsForm" *ngIf="authService.isLoggedIn()">
    <rc-form-input formControlName="title" label="Checklist title"></rc-form-input>
    <div formArrayName="checklist_items">
      <div *ngFor="let item of checklist_items.controls; let index = index; let last = last;" [formGroupName]="index">
        <rc-form-input label="Item title" formControlName='title'></rc-form-input>
        <button *ngIf="!last" type="button" (click)="removeChecklistItemControl(index)" class="">&ndash;</button>
        <button *ngIf="last" type="button" (click)="addChecklistControl()" class="">+</button>
      </div>
    </div>
    <div class="global-form__actions">
      <div class="global-form__box">
        <button *ngIf="!editMode" (click)="addChecklist()">Add checklist</button>
      </div>
      <div class="global-form__box">
        <button *ngIf="editMode" (click)="updateChecklist()">Update checklist</button>
      </div>
      <div class="global-form__box">
        <button (click)="toggleForm();cancelForm()" class="button-link button-link__gray">Cancel</button>
      </div>
    </div>
    {{checklistsForm.value | json}}
  </form>
</div>
<button *ngIf="authService.isLoggedIn()" class="global-form__button" (click)="toggleForm()"><i class="material-icons">add</i></button>