<h1>Checklists</h1>

<!--<div class="global-form" *ngIf="authService.isLoggedIn() && toggleFormState">-->
  <form class="form" [formGroup]="checklistsForm" *ngIf="authService.isLoggedIn()">
    <rc-form-input formControlName="title" label="Checklist title"></rc-form-input>
    <button *ngIf="!editMode" (click)="addChecklist()">Add checklist</button>
    <button *ngIf="editMode" (click)="updateChecklist()">Update checklist</button>
    <div formArrayName="checklist_items">
      <div *ngFor="let item of checklist_items.controls; let index = index; let last = last;" [formGroupName]="index">
        <rc-form-input label="Item title" formControlName='title'></rc-form-input>
        <button *ngIf="!last" type="button" (click)="removeChecklistItemControl(index)" class="">&ndash;</button>
        <button *ngIf="last" type="button" (click)="addChecklistControl()" class="">+</button>
      </div>
    </div>
    {{checklistsForm.value | json}}
  </form>
<!--</div>-->

<ul>
  <li *ngFor="let checklist of checklists; let index = index">
    <p>
      {{ checklist.title }}
      <button type="button" (click)="editChecklist(checklist.id, index)"><i class="material-icons">edit</i></button>
      <button type="button" (click)="destroyChecklist(checklist.id, index)"><i class="material-icons">delete</i></button>
    </p>
    <ul>
      <li *ngFor="let item of checklist.checklist_items">{{item.title}}</li>
    </ul>
  </li>

</ul>