default: &default
  adapter: postgresql
  host: <%= ENV["POSTGRES_HOST"] || rademade-code_db %>
  port: <%= ENV["POSTGRES_PORT"] || 5432 %>
  user: <%= ENV["POSTGRES_USER"] || rademade-code %>
  database: <%= ENV["POSTGRES_DB"] || rademade-code_production %>
  pool: <%= ENV["DB_POOL"] || ENV['RAILS_MAX_THREADS'] || 5 %>
  encoding: unicode

  timeout: 5
  variables:
    tcp_keepalives_idle: 60
    tcp_keepalives_interval: 60
    tcp_keepalives_count: 100

development:
  <<: *default

test: &test
  <<: *default

production:
  <<: *default
  
cucumber:
  <<: *test