.field__input {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 42px;
  padding: 15px 0 5px;
  color: #333333;
  font-size: rem(18);
  font-family: var(--lato-regular);
  line-height: 1;
  border: 0;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .42);
  background: none;
  appearance: none;
  box-sizing: border-box;

  &:focus + .field__data {

    .field__label {
      transform: translateY(13px) scale(.75);
      bottom: 100%;
    }

  }

}

.field__input_warning {
  padding-right: 30px;
}

.field__input_textarea {
  padding: 12px 0 0;
  height: 34px;
}