.field__label {
  position: absolute;
  bottom: 8px;
  left: 0;
  vertical-align: top;
  font-family: var(--lato-regular);
  font-size: rem(16);
  color: var(--secondary-color-54);
  line-height: 1;
  will-change: transform, bottom;
  transition: transform .2s ease, bottom .2s ease;
  transform-origin: left center;
}