.field {
  &.ng-invalid {
    .field__input {
      border-bottom-color: var(--error-color);
    }

    .field__msg,
    .field__label {
      color: var(--error-color);
    }
  }
}

.field_focused {

  .field__label {
    transform: translateY(13px) scale(.75);
    bottom: 100%;
  }

}

.field_disabled {

  user-select: none;

  label {
    opacity: .3;
    user-select: none;
    pointer-events: none;
  }
}
