.btn-box_align-center {
  text-align: center;
}

.btn-box_margin-top {
  margin-top: 40px;

  @media (--tablet) {
    margin-top: 10px;
  }

}

.btn-box_align-left-mobile {
  @media (--tablet) {
    text-align: left;
  }
}